<a href="https://colab.research.google.com/github/piklu007mallick/project_flight_transportation/blob/main/flight_network_statewise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Connecting gdrive in colab

In [91]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

Importing numpy,pandas and getting final and matrix csv files

In [ ]:
import numpy as np
import pandas as pd
data_path = '/content/drive/My Drive/flight_network_project'
fi = pd.read_csv('/content/drive/MyDrive/flight_network_project/FINAL.csv',header=None)
mati=pd.read_csv('/content/drive/MyDrive/flight_network_project/matrix.csv',header=None)

Importing data from my git hub

In [115]:
!git clone https://github.com/piklu007mallick/project_flight_transportation.git

fatal: destination path 'project_flight_transportation' already exists and is not an empty directory.

In [116]:
import numpy as np
import pandas as pd
data_path = 'project_flight_transportation'
fi = pd.read_csv('project_flight_transportation/FINAL.csv',header=None)
mati=pd.read_csv('project_flight_transportation/matrix.csv',header=None)

In [117]:
fi.head()

        0      1      2               3  ...            6    7  8            9
0  AI 485  A 320  146.0  ANDHRA PRADESH  ...  28-Mar-2020  152  3  65.57142857
1  AI 487  A 320    5.0  ANDHRA PRADESH  ...  27-Mar-2020  147  1  21.14285714
2  AI 487  A 320    1.0  ANDHRA PRADESH  ...  23-Mar-2020  147  1  21.14285714
3  AI 485  A 320  146.0  ANDHRA PRADESH  ...  28-Mar-2020  152  3  65.57142857
4  AI 487  A 320   15.0  ANDHRA PRADESH  ...  27-Mar-2020  151  2  43.42857143

[5 rows x 10 columns]

In [118]:
q = fi[3].unique()
print(q)

['ANDHRA PRADESH' 'DELHI' 'KARNATAKA' 'MAHARASHTRA' 'TAMIL NADU'
 'TELANGANA' 'WEST BENGAL' 'ANDAMAN' 'CHHATTISGARH' 'KERALA' 'ODISHA'
 'TRIPURA' 'ASSAM' 'ARUNACHAL PRADESH' 'GUJARAT' 'MADHYA PRADESH'
 'MANIPUR' 'MIZORAM' 'RAJASTHAN' 'GOA' 'JHARKHAND' nan 'PUNJAB'
 'UTTAR PRADESH' 'HIMACHAL PRADESH' 'JAMMU' 'LADAKH' 'BIHAR' 'CHANDIGARH'
 'LADHAKH' 'LEH' 'SRINAGAR' 'THW' 'UTTARAKHAND' 'DIU' 'Lakshadweep'
 'PONDICHERRY' '123456' 'MEGHALAYA' 'NAGALAND' 'SIKKIM']

In [119]:
q2 = mati[0].unique()
print(q2)

[nan 'ANDHRA PRADESH' 'ARUNACHAL PRADESH' 'ASSAM' 'BIHAR' 'CHHATTISGARH'
 'GOA' 'GUJARAT' 'HARYANA' 'HIMACHAL PRADESH' 'JHARKHAND' 'KARNATAKA'
 'KERALA' 'MADHYA PRADESH' 'MAHARASHTRA' 'MANIPUR' 'MEGHALAYA' 'MIZORAM'
 'NAGALAND' 'ODISHA' 'PUNJAB' 'RAJASTHAN' 'SIKKIM' 'TAMIL NADU'
 'TELANGANA' 'TRIPURA' 'UTTAR PRADESH' 'UTTARAKHAND' 'WEST BENGAL' 'DELHI'
 'CHANDIGARH']

In [120]:
for i in q:
  if i not in q2:
    print(i)

ANDAMAN
nan
JAMMU
LADAKH
LADHAKH
LEH
SRINAGAR
THW
DIU
Lakshadweep
PONDICHERRY
123456

In [121]:
sum = 0

for i in range(len(fi)):
    if fi[3][i]=="HIMACHAL PRADESH" and fi[4][i]=="DELHI":
      sum=sum+pd.to_numeric(fi[9][i])   
print(sum)

1235.1428570720002

In [122]:
mati

                   0               1   ...     29          30
0                 NaN  ANDHRA PRADESH  ...  DELHI  CHANDIGARH
1      ANDHRA PRADESH               0  ...    NaN         NaN
2   ARUNACHAL PRADESH             NaN  ...    NaN         NaN
3               ASSAM             NaN  ...    NaN         NaN
4               BIHAR             NaN  ...    NaN         NaN
5        CHHATTISGARH             NaN  ...    NaN         NaN
6                 GOA             NaN  ...    NaN         NaN
7             GUJARAT             NaN  ...    NaN         NaN
8             HARYANA             NaN  ...    NaN         NaN
9    HIMACHAL PRADESH             NaN  ...    NaN         NaN
10          JHARKHAND             NaN  ...    NaN         NaN
11          KARNATAKA             NaN  ...    NaN         NaN
12             KERALA             NaN  ...    NaN         NaN
13     MADHYA PRADESH             NaN  ...    NaN         NaN
14        MAHARASHTRA             NaN  ...    NaN         NaN
15            MANIPUR             NaN  ...    NaN         NaN
16          MEGHALAYA             NaN  ...    NaN         NaN
17            MIZORAM             NaN  ...    NaN         NaN
18           NAGALAND             NaN  ...    NaN         NaN
19             ODISHA             NaN  ...    NaN         NaN
20             PUNJAB             NaN  ...    NaN         NaN
21          RAJASTHAN             NaN  ...    NaN         NaN
22             SIKKIM             NaN  ...    NaN         NaN
23         TAMIL NADU             NaN  ...    NaN         NaN
24          TELANGANA             NaN  ...    NaN         NaN
25            TRIPURA             NaN  ...    NaN         NaN
26      UTTAR PRADESH             NaN  ...    NaN         NaN
27        UTTARAKHAND             NaN  ...    NaN         NaN
28        WEST BENGAL             NaN  ...    NaN         NaN
29              DELHI             NaN  ...      0         NaN
30         CHANDIGARH             NaN  ...    NaN         NaN

[31 rows x 31 columns]

In [123]:
print(mati.shape)

(31, 31)

In [124]:
for i in range(1,30):
  a = mati[i][0]
  for j in range(1,30):
    b = mati[0][j]
    if i != j:
      sum = 0
      for k in range(len(fi)):
        if fi[3][k] == a and fi[4][k] == b:
          sum = sum+float(fi[9][k])
      mati[i][j] = sum

In [125]:
new_mati=mati

In [126]:
mati

                   0               1   ...            29          30
0                 NaN  ANDHRA PRADESH  ...         DELHI  CHANDIGARH
1      ANDHRA PRADESH               0  ...   3216.428571         NaN
2   ARUNACHAL PRADESH               0  ...             0         NaN
3               ASSAM               0  ...   5448.857143         NaN
4               BIHAR               0  ...   6240.571428         NaN
5        CHHATTISGARH               0  ...   2458.571429         NaN
6                 GOA               0  ...   5336.428571         NaN
7             GUJARAT               0  ...  10417.285714         NaN
8             HARYANA               0  ...             0         NaN
9    HIMACHAL PRADESH               0  ...   1240.285714         NaN
10          JHARKHAND               0  ...   4114.142857         NaN
11          KARNATAKA          5250.0  ...  12894.142857         NaN
12             KERALA           132.0  ...        3772.0         NaN
13     MADHYA PRADESH               0  ...   6742.571428         NaN
14        MAHARASHTRA     1751.285714  ...  30265.714285         NaN
15            MANIPUR               0  ...    316.857143         NaN
16          MEGHALAYA               0  ...             0         NaN
17            MIZORAM               0  ...             0         NaN
18           NAGALAND               0  ...             0         NaN
19             ODISHA           154.0  ...   2836.857143         NaN
20             PUNJAB               0  ...   3795.428571         NaN
21          RAJASTHAN               0  ...   6849.285714         NaN
22             SIKKIM               0  ...             0         NaN
23         TAMIL NADU     2852.428571  ...   8425.571429         NaN
24          TELANGANA     9847.571428  ...   7489.428571         NaN
25            TRIPURA           132.0  ...         308.0         NaN
26      UTTAR PRADESH               0  ...  12122.571428         NaN
27        UTTARAKHAND               0  ...   2186.714286         NaN
28        WEST BENGAL     1249.714286  ...  13128.142857         NaN
29              DELHI     3469.571429  ...             0         NaN
30         CHANDIGARH             NaN  ...           NaN         NaN

[31 rows x 31 columns]

In [127]:
mati_new=mati.iloc[1:30, 1:30].values
print(mati_new)

[['0' 0 0 0 307.0 0 0 0 0 0 5296.142857150001 154.0 0 1446.1428572 0 0 0
  0 154.0 0 0 0 2723.7142856200003 9939.999999640295 132.0 0 0
  1217.4285714458001 3216.4285713908]
 [0 '0' 173.71428572 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 173.71428572 '0' 0 0 0 610.71428568 0 0 0 1472.57142857 0 154.0
  1232.1428571429 1377.7142857480003 0 350.28571428 0 308.0 0
  305.57142859 0 834.5714286 392.57142858 1097.71428572 0 0
  8968.7142857387 5448.8571428606]
 [0 0 0 '0' 0 0 414.57142844 0 0 304.57142847999995 1589.1428571400002 0
  0 1993.85714286 0 0 0 0 0 482.85714286 0 0 350.28571428 941.71428571 0
  966.28571428 0 3113.9999999258002 6240.5714284805]
 [0 0 0 0 '0' 0 280.0 0 0 154.0 615.1428571399999 0 903.1428571429 923.0
  0 0 0 0 154.0 0 0 0 308.0 1513.7142856199998 0 462.0 0
  922.4285713828999 2458.5714285258]
 [0 0 0 0 0 '0' 2060.1428568799997 0 0 0 3602.8571427629 616.0 616.0
  6981.428571202599 0 0 0 0 0 0 0 0 1203.9999999058 2807.4285713629 0
  308.0 0 308.0 5336.428571248903]
 [0 0 570.2857142 413.71428563999996 140.0 2106.8571426799995 '0' 0 0 0
  4767.571428413899 486.0 3127.85714256 11342.142856675799 0 0 0 0
  261.5714285429 0 3461.4285708729 0 2870.4285712458995
  3620.9999997400005 308.0 2483.7142854029003 592.1428571
  2689.7142855828997 10417.285713840294]
 [0 0 0 0 0 0 0 '0' 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 '0' 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  1240.2857142260002]
 [0 0 0 350.28571428 154.0 0 0 0 0 '0' 921.4285714299999 0 154.0
  1052.8571428528999 0 0 0 0 308.0 0 0 0 0 462.0 0 0 0 1137.14285714
  4114.1428568998]
 [5250.000000000001 0 1472.57142857 1677.1428571400002 615.1428571399999
  3596.8571427658003 4806.285714141901 0 0 965.4285714299999 '0'
  6747.999999988 1772.85714285 20965.85714271359 298.0 0 0 0
  2403.5714285729 308.0 2528.1428570999997 0 10719.857142772598
  10729.857142724597 308.0 3901.8571428390005 264.0 6121.857142763301
  12894.142857039302]
 [132.0 0 0 0 0 616.0 483.71428571 0 0 0 6857.571428544 '0' 0
  4804.1428570916 0 0 0 0 0 0 0 0 5341.142857115799 3237.5714285746003
  132.0 0 0 462.0 3771.9999998918006]
 [0 0 154.0 0 904.0 616.0 3158.9999997 0 0 154.0 1767.8571428529 0 '0'
  5002.28571406 0 0 0 0 154.0 153.0 1274.9999999528998 0 616.0
  2918.2857141486998 154.0 946.1428571499999 154.0 1382.7142856799996
  6742.571428417398]
 [1751.2857143429 0 1232.0 1682.571428571 836.0 6978.142856808899
  12093.7142851758 0 0 1361.71428571 20414.857142722893 4939.571428525799
  5178.14285696 '0' 0 0 0 0 1385.0 918.57142857 6194.428571445802 0
  11966.999999847501 10768.7142855148 154.0 5907.714285702899
  883.8571428600001 10074.285714110298 30265.714284715275]
 [0 0 1676.2857143200004 0 0 0 0 0 0 0 297.14285714 0 0 0 '0' 0
  170.85714286 0 0 0 0 0 0 0 259.71428571999996 0 0 1166.14285712
  316.857142857]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 '0' 0 0 0 0 0 0 0 0 0 0 0
  307.14285714289997 0]
 [0 0 462.0 0 0 0 0 0 0 0 0 0 0 0 170.85714286 0 '0' 0 0 0 0 0 0 0 0 0 0
  759.4285714199999 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 '0' 0 0 0 0 0 0 0 0 0 437.71428574 0]
 [154.0 0 308.0 0 154.0 0 262.2857142 0 0 307.0 2390.57142861 0 154.0
  1385.0 0 0 0 0 '0' 0 0 0 615.1428571429 1514.0 0 154.0 0
  2742.4285714287003 2836.8571427988004]
 [0 0 0 482.85714286 0 0 0 0 0 0 308.0 0 131.28571424289999 855.85714286
  0 0 0 0 0 '0' 154.0 0 0 305.4285713829 0 0 0 151.5714285729
  3795.4285713629]
 [0 0 459.57142859 0 0 0 3509.85714248 0 0 0 2621.8571428289993 0
  1297.71428571 6191.999999971601 0 0 0 0 0 154.0 '0' 0 461.1428571429
  2305.7142856658 308.0 415.71428571 240.85714286 1402.7142856587
  6849.285714276902]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 '0' 0 0 0 0 0 308.0 0]
 [2852.4285713889003 0 833.28571433 350.28571428 308.0 1182.7142855799998
  2847.4285712859 0 0 0 10721.571428509596 5205.4285713907
  461.14285714289997 11778.857142535298 0 0 0 0 616.0 0 462.0 0 '0'
  7786.9999998785015 0 1248.7142857029003 0 4853.5714285829
  8425.5714285103]
 [9847.571428168996 0 433.85714285999995 944.28571428 1516.2857142429
  2802.2857141777 3361.5714285458007 0 0 462.0 10830.1428570433
  3212.1428570457997 2917.2857141486998 11175.285713994499 0 0 0 0
  1513.1428571429 308.0 2344.5714284716996 0 7934.8571427703 '0'
  590.57142848 2614.57142852 308.0 3111.2857142346998 7489.428571198798]
 [132.0 0 1097.71428572 0 0 0 308.0 0 0 0 308.0 132.0 154.0 154.0
  303.42857144 0 0 0 0 0 308.0 0 0 590.57142848 '0' 0 0
  3368.8571427830007 308.0]
 [0 0 0 1272.5714285200002 308.0 307.14285714289997 2379.5714281828996 0
  0 0 3945.8571428400005 0 977.1428571399999 5782.999999940001 0 0 0 0
  154.0 0 503.71428572 0 1249.5714285600002 2763.5714285748 0 '0'
  652.14285714 2834.0000000029 12122.571428188401]
 [0 0 0 0 0 0 439.1428571 0 0 0 264.42857142 0 153.0 884.0000000029 0 0 0
  0 0 0 154.0 0 0 307.14285714289997 0 652.14285714 '0' 0 2186.7142856229]
 [1249.7142857129 0 8844.285714297002 3235.4285714 923.1428571429001
  308.0 2685.2857141087 0 0 1136.2857142799999 5997.285714188701
  461.1428571429 1533.57142848 9705.714285634898 1120.71428564 308.0
  892.4285714199999 437.14285714 2589.4285714229 152.4285714229
  1405.1428571359 308.0 4869.0000000234995 3246.9999999616007
  3414.285714210001 2690.7142857168005 0 '0' 13128.142856948994]
 [3469.5714285689005 0 4996.2857143028 6298.857142765699
  2379.2857142249995 5450.714285620502 10436.142856589602 0
  1235.1428570720002 3751.1428570029007 13044.4285713151
  4258.857142856801 6593.2857141244995 30672.14285615548 616.0 0 0 0
  2871.2857142858 3796.2857142658 6845.857142801102 0 8423.857142831901
  7540.285714190699 308.0 12285.285714056401 2185.5714285229
  13155.999999566198 '0']]

In [128]:
mati_new2=mati_new.astype(np.float)
print(mati_new2)

[[    0.             0.             0.             0.
    307.             0.             0.             0.
      0.             0.          5296.14285715   154.
      0.          1446.1428572      0.             0.
      0.             0.           154.             0.
      0.             0.          2723.71428562  9939.99999964
    132.             0.             0.          1217.42857145
   3216.42857139]
 [    0.             0.           173.71428572     0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.        ]
 [    0.           173.71428572     0.             0.
      0.             0.           610.71428568     0.
      0.             0.          1472.57142857     0.
    154.          1232.14285714  1377.71428575     0.
    350.28571428     0.           308.             0.
    305.57142859     0.           834.5714286    392.57142858
   1097.71428572     0.             0.          8968.71428574
   5448.85714286]
 [    0.             0.             0.             0.
      0.             0.           414.57142844     0.
      0.           304.57142848  1589.14285714     0.
      0.          1993.85714286     0.             0.
      0.             0.             0.           482.85714286
      0.             0.           350.28571428   941.71428571
      0.           966.28571428     0.          3113.99999993
   6240.57142848]
 [    0.             0.             0.             0.
      0.             0.           280.             0.
      0.           154.           615.14285714     0.
    903.14285714   923.             0.             0.
      0.             0.           154.             0.
      0.             0.           308.          1513.71428562
      0.           462.             0.           922.42857138
   2458.57142853]
 [    0.             0.             0.             0.
      0.             0.          2060.14285688     0.
      0.             0.          3602.85714276   616.
    616.          6981.4285712      0.             0.
      0.             0.             0.             0.
      0.             0.          1203.99999991  2807.42857136
      0.           308.             0.           308.
   5336.42857125]
 [    0.             0.           570.2857142    413.71428564
    140.          2106.85714268     0.             0.
      0.             0.          4767.57142841   486.
   3127.85714256 11342.14285668     0.             0.
      0.             0.           261.57142854     0.
   3461.42857087     0.          2870.42857125  3620.99999974
    308.          2483.7142854    592.1428571   2689.71428558
  10417.28571384]
 [    0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.        ]
 [    0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
   1240.28571423]
 [    0.             0.             0.           350.28571428
    154.             0.             0.             0.
      0.             0.           921.42857143     0.
    154.          1052.85714285     0.             0.
      0.             0.           308.             0.
      0.             0.             0.           462.
      0.             0.             0.          1137.14285714
   4114.1428569 ]
 [ 5250.             0.          1472.57142857  1677.14285714
    615.14285714  3596.85714277  4806.28571414     0.
      0.           965.42857143     0.          6747.99999999
   1772.85714285 20965.85714271   298.             0.
      0.             0.          2403.57142857   308.
   2528.1428571      0.         10719.85714277 10729.85714272
    308.          3901.85714284   264.          6121.85714276
  12894.14285704]
 [  132.             0.             0.             0.
      0.           616.           483.71428571     0.
      0.             0.          6857.57142854     0.
      0.          4804.14285709     0.             0.
      0.             0.             0.             0.
      0.             0.          5341.14285712  3237.57142857
    132.             0.             0.           462.
   3771.99999989]
 [    0.             0.           154.             0.
    904.           616.          3158.9999997      0.
      0.           154.          1767.85714285     0.
      0.          5002.28571406     0.             0.
      0.             0.           154.           153.
   1274.99999995     0.           616.          2918.28571415
    154.           946.14285715   154.          1382.71428568
   6742.57142842]
 [ 1751.28571434     0.          1232.          1682.57142857
    836.          6978.14285681 12093.71428518     0.
      0.          1361.71428571 20414.85714272  4939.57142853
   5178.14285696     0.             0.             0.
      0.             0.          1385.           918.57142857
   6194.42857145     0.         11966.99999985 10768.71428551
    154.          5907.7142857    883.85714286 10074.28571411
  30265.71428472]
 [    0.             0.          1676.28571432     0.
      0.             0.             0.             0.
      0.             0.           297.14285714     0.
      0.             0.             0.             0.
    170.85714286     0.             0.             0.
      0.             0.             0.             0.
    259.71428572     0.             0.          1166.14285712
    316.85714286]
 [    0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.           307.14285714
      0.        ]
 [    0.             0.           462.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.           170.85714286     0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.           759.42857142
      0.        ]
 [    0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.           437.71428574
      0.        ]
 [  154.             0.           308.             0.
    154.             0.           262.2857142      0.
      0.           307.          2390.57142861     0.
    154.          1385.             0.             0.
      0.             0.             0.             0.
      0.             0.           615.14285714  1514.
      0.           154.             0.          2742.42857143
   2836.8571428 ]
 [    0.             0.             0.           482.85714286
      0.             0.             0.             0.
      0.             0.           308.             0.
    131.28571424   855.85714286     0.             0.
      0.             0.             0.             0.
    154.             0.             0.           305.42857138
      0.             0.             0.           151.57142857
   3795.42857136]
 [    0.             0.           459.57142859     0.
      0.             0.          3509.85714248     0.
      0.             0.          2621.85714283     0.
   1297.71428571  6191.99999997     0.             0.
      0.             0.             0.           154.
      0.             0.           461.14285714  2305.71428567
    308.           415.71428571   240.85714286  1402.71428566
   6849.28571428]
 [    0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.             0.
      0.             0.             0.           308.
      0.        ]
 [ 2852.42857139     0.           833.28571433   350.28571428
    308.          1182.71428558  2847.42857129     0.
      0.             0.         10721.57142851  5205.42857139
    461.14285714 11778.85714254     0.             0.
      0.             0.           616.             0.
    462.             0.             0.          7786.99999988
      0.          1248.7142857      0.          4853.57142858
   8425.57142851]
 [ 9847.57142817     0.           433.85714286   944.28571428
   1516.28571424  2802.28571418  3361.57142855     0.
      0.           462.         10830.14285704  3212.14285705
   2917.28571415 11175.28571399     0.             0.
      0.             0.          1513.14285714   308.
   2344.57142847     0.          7934.85714277     0.
    590.57142848  2614.57142852   308.          3111.28571423
   7489.4285712 ]
 [  132.             0.          1097.71428572     0.
      0.             0.           308.             0.
      0.             0.           308.           132.
    154.           154.           303.42857144     0.
      0.             0.             0.             0.
    308.             0.             0.           590.57142848
      0.             0.             0.          3368.85714278
    308.        ]
 [    0.             0.             0.          1272.57142852
    308.           307.14285714  2379.57142818     0.
      0.             0.          3945.85714284     0.
    977.14285714  5782.99999994     0.             0.
      0.             0.           154.             0.
    503.71428572     0.          1249.57142856  2763.57142857
      0.             0.           652.14285714  2834.
  12122.57142819]
 [    0.             0.             0.             0.
      0.             0.           439.1428571      0.
      0.             0.           264.42857142     0.
    153.           884.             0.             0.
      0.             0.             0.             0.
    154.             0.             0.           307.14285714
      0.           652.14285714     0.             0.
   2186.71428562]
 [ 1249.71428571     0.          8844.2857143   3235.4285714
    923.14285714   308.          2685.28571411     0.
      0.          1136.28571428  5997.28571419   461.14285714
   1533.57142848  9705.71428563  1120.71428564   308.
    892.42857142   437.14285714  2589.42857142   152.42857142
   1405.14285714   308.          4869.00000002  3246.99999996
   3414.28571421  2690.71428572     0.             0.
  13128.14285695]
 [ 3469.57142857     0.          4996.2857143   6298.85714277
   2379.28571422  5450.71428562 10436.14285659     0.
   1235.14285707  3751.142857   13044.42857132  4258.85714286
   6593.28571412 30672.14285616   616.             0.
      0.             0.          2871.28571429  3796.28571427
   6845.8571428      0.          8423.85714283  7540.28571419
    308.         12285.28571406  2185.57142852 13155.99999957
      0.        ]]

In [129]:
maximum=np.max(mati_new2)
print(maximum)

30672.14285615548

In [130]:
norm_mati=mati_new2/maximum
print(norm_mati)

[[0.         0.         0.         0.         0.01000908 0.
  0.         0.         0.         0.         0.17266948 0.00502084
  0.         0.04714841 0.         0.         0.         0.
  0.00502084 0.         0.         0.         0.08880091 0.32407256
  0.00430358 0.         0.         0.03969167 0.10486481]
 [0.         0.         0.00566358 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.         0.00566358 0.         0.         0.         0.
  0.01991104 0.         0.         0.         0.04801006 0.
  0.00502084 0.0401714  0.04491744 0.         0.01142032 0.
  0.01004169 0.         0.00996251 0.         0.02720943 0.01279896
  0.03578864 0.         0.         0.29240586 0.1776484 ]
 [0.         0.         0.         0.         0.         0.
  0.01351622 0.         0.         0.0099299  0.05181062 0.
  0.         0.06500547 0.         0.         0.         0.
  0.         0.01574253 0.         0.         0.01142032 0.03070259
  0.         0.03150369 0.         0.10152535 0.20346056]
 [0.         0.         0.         0.         0.         0.
  0.0091288  0.         0.         0.00502084 0.02005542 0.
  0.02944505 0.03009245 0.         0.         0.         0.
  0.00502084 0.         0.         0.         0.01004169 0.04935144
  0.         0.01506253 0.         0.03007382 0.08015649]
 [0.         0.         0.         0.         0.         0.
  0.06716658 0.         0.         0.         0.1174635  0.02008337
  0.02008337 0.22761463 0.         0.         0.         0.
  0.         0.         0.         0.         0.03925386 0.09153024
  0.         0.01004169 0.         0.01004169 0.17398291]
 [0.         0.         0.01859295 0.01348827 0.0045644  0.0686896
  0.         0.         0.         0.         0.15543653 0.015845
  0.10197713 0.36978645 0.         0.         0.         0.
  0.00852798 0.         0.11285252 0.         0.09358422 0.11805501
  0.01004169 0.08097622 0.01930556 0.08769242 0.33963345]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.04043688]
 [0.         0.         0.         0.01142032 0.00502084 0.
  0.         0.         0.         0.         0.03004122 0.
  0.00502084 0.03432617 0.         0.         0.         0.
  0.01004169 0.         0.         0.         0.         0.01506253
  0.         0.         0.         0.03707412 0.13413288]
 [0.17116509 0.         0.04801006 0.05467968 0.02005542 0.11726788
  0.15669873 0.         0.         0.03147575 0.         0.22000419
  0.05780024 0.68354719 0.00971566 0.         0.         0.
  0.07836334 0.01004169 0.08242472 0.         0.34949815 0.34982418
  0.01004169 0.12721176 0.00860716 0.19959014 0.42038611]
 [0.00430358 0.         0.         0.         0.         0.02008337
  0.01577048 0.         0.         0.         0.22357654 0.
  0.         0.15662886 0.         0.         0.         0.
  0.         0.         0.         0.         0.17413661 0.10555413
  0.00430358 0.         0.         0.01506253 0.12297804]
 [0.         0.         0.00502084 0.         0.029473   0.02008337
  0.10299248 0.         0.         0.00502084 0.05763722 0.
  0.         0.16308889 0.         0.         0.         0.
  0.00502084 0.00498824 0.04156866 0.         0.02008337 0.0951445
  0.00502084 0.03084698 0.00502084 0.04508046 0.2198272 ]
 [0.05709695 0.         0.04016674 0.05485666 0.027256   0.22750751
  0.39428984 0.         0.         0.0443958  0.66558301 0.16104422
  0.16882234 0.         0.         0.         0.         0.
  0.04515498 0.02994807 0.20195617 0.         0.39015859 0.35109103
  0.00502084 0.19260846 0.02881628 0.32845066 0.98674926]
 [0.         0.         0.05465173 0.         0.         0.
  0.         0.         0.         0.         0.00968771 0.
  0.         0.         0.         0.         0.00557043 0.
  0.         0.         0.         0.         0.         0.
  0.00846743 0.         0.         0.03801961 0.01033045]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.01001374 0.        ]
 [0.         0.         0.01506253 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.00557043 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.02475955 0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.01427074 0.        ]
 [0.00502084 0.         0.01004169 0.         0.00502084 0.
  0.00855127 0.         0.         0.01000908 0.0779395  0.
  0.00502084 0.04515498 0.         0.         0.         0.
  0.         0.         0.         0.         0.02005542 0.04936075
  0.         0.00502084 0.         0.08941105 0.0924897 ]
 [0.         0.         0.         0.01574253 0.         0.
  0.         0.         0.         0.         0.01004169 0.
  0.00428029 0.0279034  0.         0.         0.         0.
  0.         0.         0.00502084 0.         0.         0.00995785
  0.         0.         0.         0.00494166 0.12374188]
 [0.         0.         0.01498335 0.         0.         0.
  0.11443143 0.         0.         0.         0.08548008 0.
  0.04230921 0.20187699 0.         0.         0.         0.
  0.         0.00502084 0.         0.         0.01503458 0.07517291
  0.01004169 0.01355348 0.00785264 0.04573252 0.2233064 ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.01004169 0.        ]
 [0.09299737 0.         0.02716751 0.01142032 0.01004169 0.03855988
  0.09283435 0.         0.         0.         0.34955404 0.16971193
  0.01503458 0.38402459 0.         0.         0.         0.
  0.02008337 0.         0.01506253 0.         0.         0.25387858
  0.         0.04071167 0.         0.15824038 0.27469784]
 [0.32105913 0.         0.01414499 0.03078643 0.04943527 0.09136257
  0.10959689 0.         0.         0.01506253 0.35309378 0.10472509
  0.0951119  0.36434643 0.         0.         0.         0.
  0.04933281 0.01004169 0.07643977 0.         0.25869915 0.
  0.01925433 0.08524254 0.01004169 0.10143686 0.24417689]
 [0.00430358 0.         0.03578864 0.         0.         0.
  0.01004169 0.         0.         0.         0.01004169 0.00430358
  0.00502084 0.00502084 0.00989264 0.         0.         0.
  0.         0.         0.01004169 0.         0.         0.01925433
  0.         0.         0.         0.10983442 0.01004169]
 [0.         0.         0.         0.04148949 0.01004169 0.01001374
  0.07758087 0.         0.         0.         0.12864628 0.
  0.03185767 0.18854242 0.         0.         0.         0.
  0.00502084 0.         0.01642253 0.         0.04073962 0.09010037
  0.         0.         0.02126173 0.09239654 0.39523067]
 [0.         0.         0.         0.         0.         0.
  0.01431732 0.         0.         0.         0.00862113 0.
  0.00498824 0.02882094 0.         0.         0.         0.
  0.         0.         0.00502084 0.         0.         0.01001374
  0.         0.02126173 0.         0.         0.07129317]
 [0.04074428 0.         0.28834913 0.10548427 0.03009711 0.01004169
  0.08754803 0.         0.         0.03704618 0.19552875 0.01503458
  0.04999884 0.31643418 0.03653851 0.01004169 0.02909574 0.01425211
  0.08442281 0.00496961 0.0458117  0.01004169 0.15874339 0.10586153
  0.11131553 0.08772502 0.         0.         0.42801518]
 [0.113118   0.         0.16289327 0.20536084 0.07757155 0.17770895
  0.34024825 0.         0.04026921 0.12229804 0.42528586 0.13885098
  0.21496006 1.         0.02008337 0.         0.         0.
  0.09361217 0.12376982 0.22319462 0.         0.27464195 0.24583498
  0.01004169 0.40053562 0.07125591 0.42892341 0.        ]]

In [131]:
print(norm_mati.shape)
print(mati.shape)

(29, 29)
(31, 31)

In [132]:
print(mati[28][28])

0

In [133]:
for i in range (0,29):
  i1=i+1
  for j in range (0,29):
    j1=j+1
    mati[i1][j1]=norm_mati[i,j]

In [134]:
print(mati.shape)
print(norm_mati[28,28])

(31, 31)
0.0

In [135]:
print(mati)

                   0               1   ...        29          30
0                 NaN  ANDHRA PRADESH  ...     DELHI  CHANDIGARH
1      ANDHRA PRADESH             0.0  ...  0.113118         NaN
2   ARUNACHAL PRADESH             0.0  ...       0.0         NaN
3               ASSAM             0.0  ...  0.162893         NaN
4               BIHAR             0.0  ...  0.205361         NaN
5        CHHATTISGARH        0.010009  ...  0.077572         NaN
6                 GOA             0.0  ...  0.177709         NaN
7             GUJARAT             0.0  ...  0.340248         NaN
8             HARYANA             0.0  ...       0.0         NaN
9    HIMACHAL PRADESH             0.0  ...  0.040269         NaN
10          JHARKHAND             0.0  ...  0.122298         NaN
11          KARNATAKA        0.172669  ...  0.425286         NaN
12             KERALA        0.005021  ...  0.138851         NaN
13     MADHYA PRADESH             0.0  ...   0.21496         NaN
14        MAHARASHTRA        0.047148  ...       1.0         NaN
15            MANIPUR             0.0  ...  0.020083         NaN
16          MEGHALAYA             0.0  ...       0.0         NaN
17            MIZORAM             0.0  ...       0.0         NaN
18           NAGALAND             0.0  ...       0.0         NaN
19             ODISHA        0.005021  ...  0.093612         NaN
20             PUNJAB             0.0  ...   0.12377         NaN
21          RAJASTHAN             0.0  ...  0.223195         NaN
22             SIKKIM             0.0  ...       0.0         NaN
23         TAMIL NADU        0.088801  ...  0.274642         NaN
24          TELANGANA        0.324073  ...  0.245835         NaN
25            TRIPURA        0.004304  ...  0.010042         NaN
26      UTTAR PRADESH             0.0  ...  0.400536         NaN
27        UTTARAKHAND             0.0  ...  0.071256         NaN
28        WEST BENGAL        0.039692  ...  0.428923         NaN
29              DELHI        0.104865  ...       0.0         NaN
30         CHANDIGARH             NaN  ...       NaN         NaN

[31 rows x 31 columns]

In [136]:
mati.to_excel("output.xlsx")